<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto boards__linkBox">
    <a href="/boards" class="btn btn-outline-dark">一覧</a>
    <a href="/boards" class="btn btn-outline-dark">編集</a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4><%= @board.title %></h4>
  </div>
  <div class="card-body">
    <p class="card-text"><%= simple_format(@board.body) %></p>
    <p class="text-right font-weight-bold mr-10"><%= @board.name %></p>
  </div>
</div>
