<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto boards__linkBox">
    <a href="/boards" class="btn btn-outline-dark">一覧</a>
    <a href="/boards" class="btn btn-outline-dark">編集</a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4>掲示板タイトル</h4>
  </div>
  <div class="card-body">
    <p class="card-text">掲示板本文</p>
    <p class="text-right font-weight-bold mr-10">作成者名</p>
  </div>
</div>
